*.class
*.log
*.png
result/*
lib/

data/

# sbt specific
dist/*
target/
output/
lib_managed/
ml-100k/
data/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies

# Intellij
nohup.out
.idea/
*.iml
*.iws
